.aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}

.score {
    justify-content: center;
    border: 1px solid rgb(245, 197, 197);
    height: 30px;
    padding: 3px 6px;
    margin: 1rem 0;
    width: 74px;
    display: flex;
    align-items: center;
}

.score p {
    color: rgb(207, 67, 67);
    font-size: 2rem;
    font-weight: 600;    
}

.status{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(207, 67, 67);
}
