.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(245, 197, 197);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.cell::after{
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 2px;
    top: 2px;
    /* border: 1px solid rgb(245, 165, 165); */
    border: none;
}

.fill {
    background: rgb(255, 10, 10);
}

.active {
    background: rgb(245, 108, 108);
}
