
.title {
  color: rgb(207, 67, 67);
  font-size: 8rem;
  text-align: center;
  animation: changecolor 10s infinite;
}

@keyframes changecolor {
  from {
    color: rgb(19, 17, 17);
  }
  to { 
    color: rgb(214, 49, 27);
  }
}